*, html {
    margin: 0;
    padding: 0;
}

.aboutme {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 100px;
}